// Colorography
$primary-color: #ea8348;
$peach: #f1c2bb;
$red-60: #f80000;
$white: #ffffff;
$black-90: #1a1a1a;

// Typography
$font-face: "Lato";
$font-path: "/../assets/fonts";
$font-faces: (
  "Thin": 100,
  "ThinItalic": 100,
  "Light": 300,
  "LightItalic": 300,
  "Regular": 400,
  "Italic": 400,
  "Bold": 700,
  "BoldItalic": 700,
  "Black": 900,
  "BlackItalic": 900,
);
